.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winners {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 10vh;
}

.winner_card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.winner_title {
    font-weight: bold;
}

.winner_card p {
    text-align: center;
}

.winner_card div {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5px;
}

.winner_card div img {
    width: 45px;
    aspect-ratio: 1;
    border-radius: 3px;
}